<html>
    <head>
        <title>Begainer</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Why I started Begainer</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello I am komalsambana and today I want to share a few incidents with you and that made me strong enough to
            start this Begainer</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">How we are starting Beagainer and what are the future plans?</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>